<div class="row">
    <h1 style="text-align: center">연습</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/api/v1/patients" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="images" name="images" accept="imaged/*" required>
            </div>

        </form>
    </div>
</div>